[Desktop Entry]
Name=Espulsione Disco
Comment=Espelli un disco esterno in sicurezza
Exec=~/Scripts/espelli-disco.sh
Icon=media-eject-symbolic
Terminal=false
Type=Application
Categories=Utility;System;
